td {
  font-size: 15px;
  text-align: left;
}

h3 {
  text-align: left;
}

.card > i {
  padding: 10px;
  margin-right: 30px;
}
.payment {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
